.contenedorfoter{
    max-width:100%;
    background-color: yellow;
    margin: auto;
}
.row{
    display: flex
}
.footer-col ul{
    list-style: none;
    background-color: rgb(198, 239, 253);
}
.footer{
    padding: 70px 0;
    float: left;
    width: 100%;
}
.footer-col{
    width: 25%;
    padding: 0 15px 70px;
    background-color: rgb(198, 239, 253);
}
.footer-col h4{
    font-size: 18px;
    background-color: rgb(198, 239, 253);
    color:rgb(31, 60, 141);
    text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
    background-color: rgb(255, 255, 255);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
    background-color: rgb(198, 239, 253);
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
    color:rgb(31, 60, 141);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}